<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../style.css"></link>
    <title>Document</title>
  </head>

  <body>
<div id="question" class="container">
    <h1 class="questionTitle">Question</h1>
    <p id="text"></p>
  <ul id="choices">
    <li class="choice" id="A">
      <span class="text"></span>
      <input name="answer" class="radio" type="radio" />
    </li>
    <li class="choice" id="B">
      <span class="text"></span>
      <input name="answer" class="radio" type="radio" />
    </li>
    <li class="choice" id="C">
      <span class="text"></span>
      <input name="answer" class="radio" type="radio" />
    </li>
  </ul>
</div>
</body>
</html>