/* ID **/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Cinzel', serif;
    font-size: 35px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 200%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* HOME PAGE */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    background-size: cover;
    background-image: url("./images/trip\ and\ coffee.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    margin: 100px 0 0 0;
    color: #DA960D;
    text-shadow: 4px 4px 5px red;
    opacity: 0.5;
}

#pHome {
    margin: 20px 0px 0px;
    color: rgb(212, 152, 32);
    text-shadow: 4px 4px 5px rgb(218, 78, 13)
}

.home .box {
    border: 1px solid white;
    padding: 20px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;

}

.home .box .button {
    border: 1px solid;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* button */


.btn {

    color: pink;
    font-weight: bold;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    margin: 50px 0;
    cursor: pointer;
    border-radius: .4rem;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 40px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    transition: all 0.15s;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    background: #da580d
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #00ffd5, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:hover:active {
    color: #000
}

.btn:hover:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* questions 
*/

.container {
    border: 1px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
}

.questionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 30px 0px;
}

#question {
    background-size: cover;
    background-image: url("./images/coffee.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 0px 0px 0px;
    font-size: 40px;
    color: #2F281A;
    text-shadow: 4px 4px 5px whitesmoke;

}

.choice #A .choice #B .choice #C #progress {
    width: 200px;
    height: 4px;
    border: 1px solid;
    position: relative;
}


#progress #update {
    width: 100%;
    height: 10px;
    background: brown;
}

#counter {
    font-size: 110px;
    color: brown
}

#scoreContainer {
    display: block;
}

.result {
    color: rgb(212, 53, 32);
    text-shadow: 4px 4px 5px rgb(209, 142, 42) border: 1px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 120vh;
    background-image: url(/images/brick\ wall.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 190vh;
    height: 100vh;
}

.resultTitle {
    font-size: 40px;
    color: rgb(212, 53, 32);
    text-shadow: 4px 4px 5px rgb(209, 142, 42)
}

.result #finalScore {
    font-size: 30px;
    margin: 20px 0px 0px 0px;
    color: rgb(212, 53, 32);
    text-shadow: 4px 4px 5px rgb(209, 142, 42)
}

#scoreSentences {
    font-size: 40px;
    margin: 10px 0px 80px 0px;
    color: rgb(212, 53, 32);
    text-shadow: 4px 4px 5px rgb(31, 30, 28)
}

#scoreImg {
    margin-top: 300px;
    display: flex;
    align-content: center;
}